<div class="container margintop10">
  <div class=" row ">
    <div class="col-sm-6 offset-3 ">
      <div class="card">
        <img class="card-img-top" src="https://i.kinja-img.com/gawker-media/image/upload/s--pNVjBnVO--/c_scale,f_auto,fl_progressive,q_80,w_800/q3aeda8fol47gqwszyrf.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Te enviaremos un email con tu pase de abordar</h5>
          <a href="/" class="btn btn-primary">Ir home</a>
        </div>
      </div>
    </div>
  </div>
</div>
