

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <!--<div class="row">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-3 mx-auto">-->

        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <!--<ul class="list-unstyled">-->
        <!--</ul>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--<hr class="clearfix w-100 d-md-none">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-3 mx-auto">-->

        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <!--<ul class="list-unstyled">-->

        <!--</ul>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--<hr class="clearfix w-100 d-md-none">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-3 mx-auto">-->

        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

        <!--<ul class="list-unstyled">-->
        <!--</ul>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--<hr class="clearfix w-100 d-md-none">-->

      <!--&lt;!&ndash; Grid column &ndash;&gt;-->
      <!--<div class="col-md-3 mx-auto">-->

        <!--&lt;!&ndash; Links &ndash;&gt;-->
        <!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid column &ndash;&gt;-->

    <!--</div>-->
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">2019
    <a href="#">hackmeUp</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!--<footer class="footer">-->
  <!--<div class="float-right footer-text">-->
    <!--<span class="text-muted">Sticky Footer</span>-->
  <!--</div>-->
<!--</footer>-->
